body {
  margin: 0;
  overflow: hidden;
}

.zoom-outer {
  position: relative;
  width: 100%;
  height: 100vh;
}

#zoom {
  position: absolute;
}
.image {
  width: 400px;
  height: 50%;
  margin: 0 30px;
}
#info {
  top: 10px;
  left: 10px;
  background: white;
  padding: 5px;
  margin-left: 40px;
  position: fixed;
  height: 20px;
  padding: 5px;
  border: none;
}

.vertical {
  position: fixed;
  top: 453px;
  left: -46vh;
  width: 95vh;
  transform: rotate(90deg);
}
.horisontal {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 100%;
}
.containerRules > .ruler:first-child {
  transform: rotate(-90deg) scale(-1, -1);
  top: -145px;
}
