.ruler {
  display: flex;
  position: relative;
  width: 4000px;
  margin: 20px auto;
  height: 14px;
  background-color: antiquewhite;
  z-index: 3;
}
.ruler .ruler-cantimetr,
.ruler .ruler-milimetr {
  position: absolute;
  border-left: 1px solid #555;
  height: 14px;
  width: 10%;
  z-index: 3;
}
.ruler .ruler-cantimetr:after {
  position: absolute;
  bottom: -15px;
  font: 11px/1 sans-serif;
  background-color: antiquewhite;
}
.ruler .ruler-milimetr {
  height: 5px;
}
.ruler .ruler-milimetr:nth-of-type(5) {
  height: 10px;
}
.ruler .ruler-cantimetr:nth-of-type(1) {
  left: 0%;
}

.ruler .ruler-cantimetr:nth-of-type(2) {
  left: 10%;
}

.ruler .ruler-cantimetr:nth-of-type(3) {
  left: 20%;
}

.ruler .ruler-cantimetr:nth-of-type(4) {
  left: 30%;
}

.ruler .ruler-cantimetr:nth-of-type(5) {
  left: 40%;
}

.ruler .ruler-cantimetr:nth-of-type(6) {
  left: 50%;
}

.ruler .ruler-cantimetr:nth-of-type(7) {
  left: 60%;
}

.ruler .ruler-cantimetr:nth-of-type(8) {
  left: 70%;
}

.ruler .ruler-cantimetr:nth-of-type(9) {
  left: 80%;
}

.ruler .ruler-cantimetr:nth-of-type(10) {
  left: 90%;
}

.ruler .ruler-cantimetr:nth-of-type(11) {
  left: 100%;
}

.ruler .ruler-milimetr:nth-of-type(1) {
  left: 10%;
}
.ruler .ruler-milimetr:nth-of-type(2) {
  left: 20%;
}
.ruler .ruler-milimetr:nth-of-type(3) {
  left: 30%;
}
.ruler .ruler-milimetr:nth-of-type(4) {
  left: 40%;
}
.ruler .ruler-milimetr:nth-of-type(5) {
  left: 50%;
}
.ruler .ruler-milimetr:nth-of-type(6) {
  left: 60%;
}
.ruler .ruler-milimetr:nth-of-type(7) {
  left: 70%;
}
.ruler .ruler-milimetr:nth-of-type(8) {
  left: 80%;
}
.ruler .ruler-milimetr:nth-of-type(9) {
  left: 90%;
}
.ruler .ruler-milimetr:nth-of-type(10) {
  left: 100%;
}
